*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
body{
    background-color: #ff9900;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
   content: '';
   width: 0%;
   height: 2px;
   background: black;
   display: block;
   margin: auto;
   transition: 0.5s;

}
.nav-links ul li:hover::after{
    width: 100%;
}
.teksti{
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

@media (max-width: 700px){
    .teksti{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }

}
.tapahtumat{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    position: relative;
    top: -250px;
}
h1{
    font-size: 36px;
    font-weight: 600;
   
}
p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.col{
    flex-basis: 31%;
    background: rgb(233, 172, 144);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }